:root {
    --color-primary: #303E48 ;
    --color-primary-400: #303E48 ;
    --color-primary-500: var(--color-primary);
    --color-secondary: #646e83;
    --color-secondary-500: var(--color-secondary);
    --color-grey: #4a4a4a;
    --color-grey-100: #f9f9f9;
    --color-grey-200: #f2f2f2;
    --color-grey-300: #ced4d9;
    --color-grey-400: #8e949f;
    --color-grey-500: var(--color-grey);
    --color-grey-600: #6c727f;
    --color-grey-700: #61728f;
    --color-grey-800: #232323;
    --white: #fff;
    --active: #3B7EFF;
    --black: #33333d;
    --fontblack: #181818;
    --lightgrey:#DADFE1;
    --darkgrey:#67809F;
    --lightvarient: linear-gradient( 180deg, #F4F7FE 0%, #F4F7FE 100%);
    --darkvarient: #424250;
    --lightline: #e6e6e6;
    --darkline: #67809F;
    --color-error: #b00020;
    --color-validated: #498306;
    --color-primary-shadow: rgba(0, 0, 0, 0.5);
    --color-secondary-shadow: rgba(108, 114, 127, 0.3);
    --color-white-transparent: hsla(0, 0%, 100%, 0.9);
    --color-white-transparent-75: hsla(0, 0%, 100%, 0.75);
}
.light-theme {
    --themeDropDownBg: var(--lightgrey);
    --themeIconBorderColor: var(--lightgrey);
    --navBg: var(--white);
    --navLinkHoverBg: transparent;
    --mainBg: var(--white);
    --fontColor: var(--fontblack);
    --btnColor: var(--active);
    --overlayBg: var(--lightgrey);
    --varient-bg: var(--lightvarient);
    --lines: var(--lightline);
    --varient-color : var(--fontblack);
    
  }

.dark-theme {
    --themeDropDownBg: var(--darkgrey);
    --themeIconBorderColor: var(--darkgrey);
    --navBg: var(--black);
    --navLinkHoverBg: transparent;
    --mainBg: var(--black);
    --fontColor: var(--white);
    --overlayBg: var(--darkgrey);
    --varient-bg: var(--darkvarient);
    --lines: var(--darkline);
    --varient-color : var(--fontblack);
}
* {
    color: var(--fontColor);
    transition: background-color 0.4s ease;
}
body{
    font-family: 'Poppins' !important;
    font-weight: 300;
}
nav.navbar {
    background: var(--navBg);
    padding: 1rem;
}
.nav-tabs {
    margin-bottom: 1rem;
}
nav ul li:hover {
    background-color: var(--navLinkHoverBg);
}
main {
    background: var(--mainBg);
}
section{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: var(--mainBg);
}
.dark-theme .site-logo .site-text{
    fill: var(--fontColor);
}
.varient-bg{
    background: var(--varient-bg);
    /*background: linear-gradient( 180deg, #F4F7FE 0%, #F4F7FE 100%);*/
}
h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
h3{
    font-size: 2rem;
    margin-bottom: 1.3rem;
}
h4{
    font-size: 1.75rem;
}
h5{
    font-size: 1.5rem;
    line-height: 1.5;
}
h6{
    font-size: 0.75rem;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Spartan', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Livvic', sans-serif;
    letter-spacing: -1px;
    font-weight: 600;
}
h1, h2, h3, h4, h6{
    line-height: 1; 
}
.no-padding{
    padding-top:0px;
    padding-bottom:0px;
}
.main_banner p{
    color: var(--white);
}
.banner_layer {
    position: absolute;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50px);
    color: var(--white);
    padding-left: 50px;
    padding-right: 50px;
}
.owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50px);
    bottom: 10px;
}
.owl-dots .owl-dot.active span{
    border: 0px !important;
}
div#navbarNav {
    flex-grow: inherit;
}
button:focus {
    outline: 0 dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link{
    color: var(--fontColor);
}
nav.navbar.navbar-expand-lg.navbar-light.fixed-top.justify-content-between {
    -webkit-box-shadow: 7px 5px 30px 0px rgb(0 0 0 / 12%);
    -moz-box-shadow: 7px 5px 30px 0px rgb(0 0 0 / 12%);
    box-shadow: 7px 5px 30px 0px rgb(0 0 0 / 12%);
}
.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link{
    color: var(--fontColor);
    font-weight: 500;
}
.btn.btn-tns{
    background-color: var(--active);
    color: var(--white);
    border-radius: 0px;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.sub-block-desc p {
    font-size: 0.9rem;
}
.dark-theme button.btn.btn-tns {
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}
.sub-title{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
    color: var(--darkgrey);
    position: relative;
}
.varient-bg .card-block{
    background-image: linear-gradient( 180deg, #F4F7FE 0%, #F4F7FE 100%);
    border:0px;
}
.dark-theme .varient-bg .card-block {
    background: #505567;
}
.card-block {
    padding: 25px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border: 1px solid var(--lines);
    border-radius: 3px;
    position: relative;
}
.card-block:hover{
    -webkit-box-shadow: 0 5px 26px rgb(0 0 0 / 8%);
    box-shadow: 0 5px 26px rgb(0 0 0 / 8%);
    border-color:transparent;
}
.card-block:before{
    top: 0;
    left: 0;
    border-top: 2px solid var(--active);
    border-left: 2px solid var(--active);
    border-radius: 3px;
}
.card-block:after{
    bottom: 0;
    right: 0;
    border-right: 2px solid var(--active);
    border-bottom: 2px solid var(--active);
    border-radius: 3px;
}
.card-block:before, .card-block:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}
.card-block:hover:before, .card-block:hover:after{
width: 100%;
height: 100%;
opacity: 1;
filter: alpha(opacity=100);
}
.sub-title > span {
    padding: 0 0 0 35px;
    position: relative;
}
.sub-title:after {
    content: '';
    width: 20px;
    height: 2px;
    background: #3B7EFF;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    z-index: 1;
}
.title-desc {
    clear: both;
    margin: 0 auto 40px;
    margin-top: 40px;
    font-size: 18px;
    line-height: 36px;
    font-weight: 300;
}
#switch-mode {
    padding: .5rem 1rem;
    cursor: pointer;
}
.switch {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.material-icons-outlined{
    line-height: 1.5;
    color: var(--active);
}
.btn--search-close span.material-icons-outlined {
    color: var(--black);
}

/* search integration */

/* tab section css start */
.scrollable-block {
    border: 2px solid var(--lines);
    padding: 30px 20px;
    height: 85vh;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 12%) 7px 5px 30px 0px;
}
.light-theme:not(.dark-theme) .scrollable-block {
    background-color: var(--white);
    border:0px;
}
.scrollable-block-wrapper:not(:first-child) {
    margin: 3.5rem auto;
}
div#nav-tab.tabbed {
    padding-left: 40px;
}
.tab-content {
    padding: 15px;
}
.tabbed a.nav-item {
    display: block;
    float: right;
    padding: 10px 24px 8px;
    background-color: var(--mainBg);
    margin-right: 46px;
    z-index: 2;
    position: relative;
    cursor: pointer;
    color:var(--fontColor);;
    text-transform: uppercase;
    transition: all 250ms ease;
    border:0px;
}
.tabbed a.nav-item:before, .tabbed a.nav-item:after {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 44px;
    background-color: var(--mainBg);
    transition: all 250ms ease;
}
.tabbed a.nav-item.active {
    z-index: 3;
}
.tabbed a.nav-item:before {
    right: -20px;
    transform: skew(30deg, 0deg);
    box-shadow: rgb(0 0 0 / 10%) 6px 2px 5px, inset rgb(255 255 255 / 9%) -1px 0;
}
.tabbed a.nav-item:after {
    left: -20px;
    transform: skew(-30deg, 0deg);
    box-shadow: rgb(0 0 0 / 10%) -6px 2px 5px, inset rgb(255 255 255 / 9%) 1px 0;
}
.tabbed a.nav-item.active, .tabbed a.nav-item.active:before, .tabbed a.nav-item.active:after {
    background-color: var(--active);
    color: var(--white);
}
/* tab section css end */

/* Layout for search container */
.search {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: var(--overlayBg);
}

.search {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.search::before,
.search::after {
	content: '';
	position: absolute;
	width: calc(100% + 15px);
	height: calc(100% + 15px);
	pointer-events: none;
}

.search::before {
	top: 0;
	left: 0;
	border-right-width: 0;
	border-bottom-width: 0;
}

.search::after {
	right: 0;
	bottom: 0;
	border-top-width: 0;
	border-left-width: 0;
}

.btn--search-close {
	font-size: 2em;
	position: absolute;
	top: 1.25em;
	right: 1.25em;
    display: none;
    background: transparent;
    z-index: 1300;
}
.search--open .btn--search-close:hover, .search--open .btn--search-close:focus{
    -webkit-transform: scale3d(1.5, 1.5, 1);
    transform: scale3d(1.5, 1.5, 1);
    box-shadow: none;
}
.btn--search-close {
	display: block;
}

.search__form {
	margin: 5em 0;
}

.search__input {
	font-family: inherit;
	font-size: 10vw;
	line-height: 1;
	display: inline-block;
	box-sizing: border-box;
	width: 75%;
	padding: 0.05em 0;
	color: var(--fontColor);
    border-bottom: 2px solid;
    border: 0;
    background: transparent;
    border-radius: 0;
    -webkit-appearance: none;
}
.search__input:focus {
    outline: none;
}
.search__input::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	opacity: 0.3;
	color: #060919;
}

.search__input::-moz-placeholder {
	opacity: 0.3;
	/* Mozilla Firefox 19+ */
	color: #060919;
}

.search__input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	opacity: 0.3;
	color: #060919;
}

.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.search__input::-ms-clear {
	display: none;
}

.search__info {
	font-size: 90%;
	font-weight: bold;
	display: block;
	width: 75%;
	margin: 0 auto;
	padding: 0.85em 0;
	text-align: right;
	color:var(--fontColor);
}

.search__related {
	display: flex;
	width: 75%;
	pointer-events: none;
}

.search__suggestion {
	width: 33.33%;
	text-align: left;
}

.search__suggestion:nth-child(2) {
	margin: 0 3em;
}

.search__suggestion h3 {
	font-size: 1.35em;
	margin: 0;
}

.search__suggestion h3::before {
	content: '\21FE';
	display: inline-block;
	padding: 0 0.5em 0 0;
}

.search__suggestion p {
	font-size: 1.15em;
	line-height: 1.4;
	margin: 0.75em 0 0 0;
}

/************************/
/* Transitions 			*/
/************************/

 .search {
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.5s;
}

.search--open {
	pointer-events: auto;
	opacity: 1;
}

/* Border */
.search::before,
.search::after {
	transition: transform 0.5s;
}

.search::before {
	transform: translate3d(-15px, -15px, 0);
}

.search::after {
	transform: translate3d(15px, 15px, 0);
}

.search--open::before,
.search--open::after {
	transform: translate3d(0, 0, 0);
}

/* Close button */
.btn--search-close {
	opacity: 0;
	transform: scale3d(0.8, 0.8, 1);
	transition: opacity 0.5s, transform 0.5s;
}

.search--open .btn--search-close {
	opacity: 1;
	transform: scale3d(1, 1, 1);
}

/* Search form with input and description */
.search__form {
	opacity: 0;
	transform: scale3d(0.8, 0.8, 1);
	transition: opacity 0.5s, transform 0.5s;
}

.search--open .search__form {
	opacity: 1;
	transform: scale3d(1, 1, 1);
}

.search__suggestion {
	opacity: 0;
	transform: translate3d(0, -30px, 0);
	transition: opacity 0.5s, transform 0.5s;
}

.search--open .search__suggestion {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.search--open .search__suggestion:nth-child(2) {
	transition-delay: 0.1s;
}

.search--open .search__suggestion:nth-child(3) {
	transition-delay: 0.2s;
}

@media screen and (max-width:40em) {
	.search__form {
		margin: 5em 0 1em;
	}
	.btn--search-close {
		font-size: 1.25em;
		top: 1.5em;
		right: 1.5em;
	}
	.search__info {
		text-align: left;
	}
	.search__suggestion {
		font-size: 80%;
		width: 100%;
	}
	.search__suggestion:nth-child(2),
	.search__suggestion:nth-child(3) {
		display: none;
	}
}


@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
}

.swiper-container {
    width: 75%;
      padding:50px 50px;
      }
  .swiper-slide{
    width: 500px;
    height: 500px;
    background-position: center;
    background-size: cover;
    /*-webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);*/
  }
  .swiper-slide img{
    width: 500px;
    height: 500px;
    object-fit: cover;
  }
  .swiper-scrollbar-drag {
    background: var(--active);
  }

  /*calender design starts*/
  .fc {
    background: #f7f7f7;
    color: #33333d;
    width: auto;
    padding: 10px;
}
.fc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    flex-direction: column;
}
.fc-left {
    justify-content: space-between;
    display: flex;
}
.fc-button-group {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}
.fc-right .fc-button-group {
    flex-basis: 100%;
}
.fc .fc-button {
    background: #3B7EFF;
    border-color: #3873e4;

}
.fc-toolbar h2 {
    padding-bottom: 15px;
    padding-top: 15px;
}
.fc th {
    font-weight: 400;
}
/* calender design end */

/* animation image design start */
.anim-image-wrap {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.anim-widget-wrap{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.img-layer_image-wrapper {
    position: relative;
    line-height: 0;
    display: block;
    width: inherit;
    max-width: 100%;
    height: inherit;
    max-height: 100%;
}
.img-layer_image-wrapper .img-layer_image {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.img-layer_image-wrapper img {
    pointer-events: none;
}
.anim-widget-container .img-layer_image-wrapper:not(:first-child) {
    position: absolute;
    left: 0;
    top: 0;
}
.anim-image-wrap img {
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.img-layer_image-wrapper.scale1 .img-layer_image {
    -webkit-animation: image_scale1 2s infinite alternate;
    -moz-animation: image_scale1 2s infinite alternate;
    -o-animation: image_scale1 2s infinite alternate;
    animation: image_scale1 2s infinite alternate;
}
.img-layer_image-wrapper.left_right1 .img-layer_image {
    -webkit-animation: image_leftRight1 2s infinite alternate;
    -moz-animation: image_leftRight1 2s infinite alternate;
    -o-animation: image_leftRight1 2s infinite alternate;
    animation: image_leftRight1 2s infinite alternate;
}
.img-layer_image-wrapper.left_right2 .img-layer_image {
    -webkit-animation: image_leftRight2 2s infinite alternate;
    -moz-animation: image_leftRight2 2s infinite alternate;
    -o-animation: image_leftRight2 2s infinite alternate;
    animation: image_leftRight2 2s infinite alternate;
}
.img-layer_image-wrapper.left_right3 .img-layer_image {
    -webkit-animation: image_leftRight3 2s infinite alternate;
    -moz-animation: image_leftRight3 2s infinite alternate;
    -o-animation: image_leftRight3 2s infinite alternate;
    animation: image_leftRight3 2s infinite alternate;
}


@-webkit-keyframes image_upDown1 {
    0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
    100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }
    @-moz-keyframes image_upDown1 {
    0% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px); }
    100% {
    -moz-transform: translateY(5px);
    transform: translateY(5px); } }
    @-o-keyframes image_upDown1 {
    0% {
    -o-transform: translateY(-5px);
    transform: translateY(-5px); }
    100% {
    -o-transform: translateY(5px);
    transform: translateY(5px); } }
    @keyframes image_upDown1 {
    0% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px); }
    100% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px); } }
    @-webkit-keyframes image_upDown2 {
    0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
    100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); } }
    @-moz-keyframes image_upDown2 {
    0% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px); }
    100% {
    -moz-transform: translateY(10px);
    transform: translateY(10px); } }
    @-o-keyframes image_upDown2 {
    0% {
    -o-transform: translateY(-10px);
    transform: translateY(-10px); }
    100% {
    -o-transform: translateY(10px);
    transform: translateY(10px); } }
    @keyframes image_upDown2 {
    0% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px); }
    100% {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px); } }
    @-webkit-keyframes image_upDown3 {
    0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
    100% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px); } }
    @-moz-keyframes image_upDown3 {
    0% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px); }
    100% {
    -moz-transform: translateY(15px);
    transform: translateY(15px); } }
    @-o-keyframes image_upDown3 {
    0% {
    -o-transform: translateY(-15px);
    transform: translateY(-15px); }
    100% {
    -o-transform: translateY(15px);
    transform: translateY(15px); } }
    @keyframes image_upDown3 {
    0% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); }
    100% {
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px); } }
    @-webkit-keyframes image_leftRight1 {
    0% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
    100% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px); } }
    @-moz-keyframes image_leftRight1 {
    0% {
    -moz-transform: translateX(-5px);
    transform: translateX(-5px); }
    100% {
    -moz-transform: translateX(5px);
    transform: translateX(5px); } }
    @-o-keyframes image_leftRight1 {
    0% {
    -o-transform: translateX(-5px);
    transform: translateX(-5px); }
    100% {
    -o-transform: translateX(5px);
    transform: translateX(5px); } }
    @keyframes image_leftRight1 {
    0% {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px); }
    100% {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px); } }
    @-webkit-keyframes image_leftRight2 {
    0% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
    100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); } }
    @-moz-keyframes image_leftRight2 {
    0% {
    -moz-transform: translateX(-10px);
    transform: translateX(-10px); }
    100% {
    -moz-transform: translateX(10px);
    transform: translateX(10px); } }
    @-o-keyframes image_leftRight2 {
    0% {
    -o-transform: translateX(-10px);
    transform: translateX(-10px); }
    100% {
    -o-transform: translateX(10px);
    transform: translateX(10px); } }
    @keyframes image_leftRight2 {
    0% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px); }
    100% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px); } }
    @-webkit-keyframes image_leftRight3 {
    0% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px); }
    100% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px); } }
    @-moz-keyframes image_leftRight3 {
    0% {
    -moz-transform: translateX(-15px);
    transform: translateX(-15px); }
    100% {
    -moz-transform: translateX(15px);
    transform: translateX(15px); } }
    @-o-keyframes image_leftRight3 {
    0% {
    -o-transform: translateX(-15px);
    transform: translateX(-15px); }
    100% {
    -o-transform: translateX(15px);
    transform: translateX(15px); } }
    @keyframes image_leftRight3 {
    0% {
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    transform: translateX(-15px); }
    100% {
    -webkit-transform: translateX(15px);
    -moz-transform: translateX(15px);
    -o-transform: translateX(15px);
    transform: translateX(15px); } }
    @-webkit-keyframes image_scale1 {
    0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
    100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }
    @-moz-keyframes image_scale1 {
    0% {
    -moz-transform: scale(0.8);
    transform: scale(0.8); }
    100% {
    -moz-transform: scale(1.1);
    transform: scale(1.1); } }
    @-o-keyframes image_scale1 {
    0% {
    -o-transform: scale(0.8);
    transform: scale(0.8); }
    100% {
    -o-transform: scale(1.1);
    transform: scale(1.1); } }
    @keyframes image_scale1 {
    0% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8); }
    100% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); } }
    @-webkit-keyframes image_scale2 {
    0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
    50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
    100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }
    @-moz-keyframes image_scale2 {
    0% {
    -moz-transform: scale(0.9);
    transform: scale(0.9); }
    50% {
    -moz-transform: scale(1.1);
    transform: scale(1.1); }
    100% {
    -moz-transform: scale(0.9);
    transform: scale(0.9); } }
    @-o-keyframes image_scale2 {
    0% {
    -o-transform: scale(0.9);
    transform: scale(0.9); }
    50% {
    -o-transform: scale(1.1);
    transform: scale(1.1); }
    100% {
    -o-transform: scale(0.9);
    transform: scale(0.9); } }
    @keyframes image_scale2 {
    0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9); }
    50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
    100% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9); } }
    @-webkit-keyframes image_scale3 {
    0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
    50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
    100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
    @-moz-keyframes image_scale3 {
    0% {
    -moz-transform: scale(1);
    transform: scale(1); }
    50% {
    -moz-transform: scale(0.9);
    transform: scale(0.9); }
    100% {
    -moz-transform: scale(1);
    transform: scale(1); } }
    @-o-keyframes image_scale3 {
    0% {
    -o-transform: scale(1);
    transform: scale(1); }
    50% {
    -o-transform: scale(0.9);
    transform: scale(0.9); }
    100% {
    -o-transform: scale(1);
    transform: scale(1); } }
    @keyframes image_scale3 {
    0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
    50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9); }
    100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
    @-webkit-keyframes image_move1 {
    0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
    25% {
    -webkit-transform: translate(10px, 20px);
    transform: translate(10px, 20px); }
    50% {
    -webkit-transform: translate(30px, 30px);
    transform: translate(30px, 30px); }
    75% {
    -webkit-transform: translate(20px, 10px);
    transform: translate(20px, 10px); }
    100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
    @-moz-keyframes image_move1 {
    0% {
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
    25% {
    -moz-transform: translate(10px, 20px);
    transform: translate(10px, 20px); }
    50% {
    -moz-transform: translate(30px, 30px);
    transform: translate(30px, 30px); }
    75% {
    -moz-transform: translate(20px, 10px);
    transform: translate(20px, 10px); }
    100% {
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
    @-o-keyframes image_move1 {
    0% {
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
    25% {
    -o-transform: translate(10px, 20px);
    transform: translate(10px, 20px); }
    50% {
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px); }
    75% {
    -o-transform: translate(20px, 10px);
    transform: translate(20px, 10px); }
    100% {
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
    @keyframes image_move1 {
    0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
    25% {
    -webkit-transform: translate(10px, 20px);
    -moz-transform: translate(10px, 20px);
    -o-transform: translate(10px, 20px);
    transform: translate(10px, 20px); }
    50% {
    -webkit-transform: translate(30px, 30px);
    -moz-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px); }
    75% {
    -webkit-transform: translate(20px, 10px);
    -moz-transform: translate(20px, 10px);
    -o-transform: translate(20px, 10px);
    transform: translate(20px, 10px); }
    100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
    @-webkit-keyframes image_move2 {
    0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
    25% {
    -webkit-transform: translate(20px, -20px);
    transform: translate(20px, -20px); }
    50% {
    -webkit-transform: translate(0px, -40px);
    transform: translate(0px, -40px); }
    75% {
    -webkit-transform: translate(20px, -20px);
    transform: translate(20px, -20px); }
    100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
    @-moz-keyframes image_move2 {
    0% {
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
    25% {
    -moz-transform: translate(20px, -20px);
    transform: translate(20px, -20px); }
    50% {
    -moz-transform: translate(0px, -40px);
    transform: translate(0px, -40px); }
    75% {
    -moz-transform: translate(20px, -20px);
    transform: translate(20px, -20px); }
    100% {
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
    @-o-keyframes image_move2 {
    0% {
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
    25% {
    -o-transform: translate(20px, -20px);
    transform: translate(20px, -20px); }
    50% {
    -o-transform: translate(0px, -40px);
    transform: translate(0px, -40px); }
    75% {
    -o-transform: translate(20px, -20px);
    transform: translate(20px, -20px); }
    100% {
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
    @keyframes image_move2 {
    0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
    25% {
    -webkit-transform: translate(20px, -20px);
    -moz-transform: translate(20px, -20px);
    -o-transform: translate(20px, -20px);
    transform: translate(20px, -20px); }
    50% {
    -webkit-transform: translate(0px, -40px);
    -moz-transform: translate(0px, -40px);
    -o-transform: translate(0px, -40px);
    transform: translate(0px, -40px); }
    75% {
    -webkit-transform: translate(20px, -20px);
    -moz-transform: translate(20px, -20px);
    -o-transform: translate(20px, -20px);
    transform: translate(20px, -20px); }
    100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
    @-webkit-keyframes image_move3 {
    0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
    25% {
    -webkit-transform: translate(20px, 0px);
    transform: translate(20px, 0px); }
    50% {
    -webkit-transform: translate(30px, -20px);
    transform: translate(30px, -20px); }
    75% {
    -webkit-transform: translate(20px, 0px);
    transform: translate(20px, 0px); }
    100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
    @-moz-keyframes image_move3 {
    0% {
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
    25% {
    -moz-transform: translate(20px, 0px);
    transform: translate(20px, 0px); }
    50% {
    -moz-transform: translate(30px, -20px);
    transform: translate(30px, -20px); }
    75% {
    -moz-transform: translate(20px, 0px);
    transform: translate(20px, 0px); }
    100% {
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
    @-o-keyframes image_move3 {
    0% {
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
    25% {
    -o-transform: translate(20px, 0px);
    transform: translate(20px, 0px); }
    50% {
    -o-transform: translate(30px, -20px);
    transform: translate(30px, -20px); }
    75% {
    -o-transform: translate(20px, 0px);
    transform: translate(20px, 0px); }
    100% {
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
    @keyframes image_move3 {
    0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
    25% {
    -webkit-transform: translate(20px, 0px);
    -moz-transform: translate(20px, 0px);
    -o-transform: translate(20px, 0px);
    transform: translate(20px, 0px); }
    50% {
    -webkit-transform: translate(30px, -20px);
    -moz-transform: translate(30px, -20px);
    -o-transform: translate(30px, -20px);
    transform: translate(30px, -20px); }
    75% {
    -webkit-transform: translate(20px, 0px);
    -moz-transform: translate(20px, 0px);
    -o-transform: translate(20px, 0px);
    transform: translate(20px, 0px); }
    100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
    @-webkit-keyframes image_move4 {
    0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
    15% {
    -webkit-transform: translate(0px, 20px);
    transform: translate(0px, 20px); }
    30% {
    -webkit-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px); }
    45% {
    -webkit-transform: translate(-20px, 40px);
    transform: translate(-20px, 40px); }
    60% {
    -webkit-transform: translate(-25px, 30px);
    transform: translate(-25px, 30px); }
    75% {
    -webkit-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px); }
    90% {
    -webkit-transform: translate(0px, 20px);
    transform: translate(0px, 20px); }
    100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
    @-moz-keyframes image_move4 {
    0% {
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
    15% {
    -moz-transform: translate(0px, 20px);
    transform: translate(0px, 20px); }
    30% {
    -moz-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px); }
    45% {
    -moz-transform: translate(-20px, 40px);
    transform: translate(-20px, 40px); }
    60% {
    -moz-transform: translate(-25px, 30px);
    transform: translate(-25px, 30px); }
    75% {
    -moz-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px); }
    90% {
    -moz-transform: translate(0px, 20px);
    transform: translate(0px, 20px); }
    100% {
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
    @-o-keyframes image_move4 {
    0% {
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
    15% {
    -o-transform: translate(0px, 20px);
    transform: translate(0px, 20px); }
    30% {
    -o-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px); }
    45% {
    -o-transform: translate(-20px, 40px);
    transform: translate(-20px, 40px); }
    60% {
    -o-transform: translate(-25px, 30px);
    transform: translate(-25px, 30px); }
    75% {
    -o-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px); }
    90% {
    -o-transform: translate(0px, 20px);
    transform: translate(0px, 20px); }
    100% {
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
    @keyframes image_move4 {
    0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
    15% {
    -webkit-transform: translate(0px, 20px);
    -moz-transform: translate(0px, 20px);
    -o-transform: translate(0px, 20px);
    transform: translate(0px, 20px); }
    30% {
    -webkit-transform: translate(-20px, 20px);
    -moz-transform: translate(-20px, 20px);
    -o-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px); }
    45% {
    -webkit-transform: translate(-20px, 40px);
    -moz-transform: translate(-20px, 40px);
    -o-transform: translate(-20px, 40px);
    transform: translate(-20px, 40px); }
    60% {
    -webkit-transform: translate(-25px, 30px);
    -moz-transform: translate(-25px, 30px);
    -o-transform: translate(-25px, 30px);
    transform: translate(-25px, 30px); }
    75% {
    -webkit-transform: translate(-20px, 20px);
    -moz-transform: translate(-20px, 20px);
    -o-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px); }
    90% {
    -webkit-transform: translate(0px, 20px);
    -moz-transform: translate(0px, 20px);
    -o-transform: translate(0px, 20px);
    transform: translate(0px, 20px); }
    100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
    @-webkit-keyframes image_move_rotate1 {
    0% {
    -webkit-transform: translate(0px, 0px) rotate(0);
    transform: translate(0px, 0px) rotate(0); }
    25% {
    -webkit-transform: translate(-10px, -10px) rotate(5deg);
    transform: translate(-10px, -10px) rotate(5deg); }
    50% {
    -webkit-transform: translate(-20px, 0px) rotate(0);
    transform: translate(-20px, 0px) rotate(0); }
    75% {
    -webkit-transform: translate(-10px, -10px) rotate(-2deg);
    transform: translate(-10px, -10px) rotate(-2deg); }
    100% {
    -webkit-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
    @-moz-keyframes image_move_rotate1 {
    0% {
    -moz-transform: translate(0px, 0px) rotate(0);
    transform: translate(0px, 0px) rotate(0); }
    25% {
    -moz-transform: translate(-10px, -10px) rotate(5deg);
    transform: translate(-10px, -10px) rotate(5deg); }
    50% {
    -moz-transform: translate(-20px, 0px) rotate(0);
    transform: translate(-20px, 0px) rotate(0); }
    75% {
    -moz-transform: translate(-10px, -10px) rotate(-2deg);
    transform: translate(-10px, -10px) rotate(-2deg); }
    100% {
    -moz-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
    @-o-keyframes image_move_rotate1 {
    0% {
    -o-transform: translate(0px, 0px) rotate(0);
    transform: translate(0px, 0px) rotate(0); }
    25% {
    -o-transform: translate(-10px, -10px) rotate(5deg);
    transform: translate(-10px, -10px) rotate(5deg); }
    50% {
    -o-transform: translate(-20px, 0px) rotate(0);
    transform: translate(-20px, 0px) rotate(0); }
    75% {
    -o-transform: translate(-10px, -10px) rotate(-2deg);
    transform: translate(-10px, -10px) rotate(-2deg); }
    100% {
    -o-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
    @keyframes image_move_rotate1 {
    0% {
    -webkit-transform: translate(0px, 0px) rotate(0);
    -moz-transform: translate(0px, 0px) rotate(0);
    -o-transform: translate(0px, 0px) rotate(0);
    transform: translate(0px, 0px) rotate(0); }
    25% {
    -webkit-transform: translate(-10px, -10px) rotate(5deg);
    -moz-transform: translate(-10px, -10px) rotate(5deg);
    -o-transform: translate(-10px, -10px) rotate(5deg);
    transform: translate(-10px, -10px) rotate(5deg); }
    50% {
    -webkit-transform: translate(-20px, 0px) rotate(0);
    -moz-transform: translate(-20px, 0px) rotate(0);
    -o-transform: translate(-20px, 0px) rotate(0);
    transform: translate(-20px, 0px) rotate(0); }
    75% {
    -webkit-transform: translate(-10px, -10px) rotate(-2deg);
    -moz-transform: translate(-10px, -10px) rotate(-2deg);
    -o-transform: translate(-10px, -10px) rotate(-2deg);
    transform: translate(-10px, -10px) rotate(-2deg); }
    100% {
    -webkit-transform: translate(0, 0) rotate(0);
    -moz-transform: translate(0, 0) rotate(0);
    -o-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
    @-webkit-keyframes image_move_rotate2 {
    0% {
    -webkit-transform: translate(0px, 0px) rotate(0);
    transform: translate(0px, 0px) rotate(0); }
    25% {
    -webkit-transform: translate(10px, 10px) rotate(-5deg);
    transform: translate(10px, 10px) rotate(-5deg); }
    50% {
    -webkit-transform: translate(-5px, 15px) rotate(-10deg);
    transform: translate(-5px, 15px) rotate(-10deg); }
    75% {
    -webkit-transform: translate(-10px, 5px) rotate(-5deg);
    transform: translate(-10px, 5px) rotate(-5deg); }
    100% {
    -webkit-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
    @-moz-keyframes image_move_rotate2 {
    0% {
    -moz-transform: translate(0px, 0px) rotate(0);
    transform: translate(0px, 0px) rotate(0); }
    25% {
    -moz-transform: translate(10px, 10px) rotate(-5deg);
    transform: translate(10px, 10px) rotate(-5deg); }
    50% {
    -moz-transform: translate(-5px, 15px) rotate(-10deg);
    transform: translate(-5px, 15px) rotate(-10deg); }
    75% {
    -moz-transform: translate(-10px, 5px) rotate(-5deg);
    transform: translate(-10px, 5px) rotate(-5deg); }
    100% {
    -moz-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
    @-o-keyframes image_move_rotate2 {
    0% {
    -o-transform: translate(0px, 0px) rotate(0);
    transform: translate(0px, 0px) rotate(0); }
    25% {
    -o-transform: translate(10px, 10px) rotate(-5deg);
    transform: translate(10px, 10px) rotate(-5deg); }
    50% {
    -o-transform: translate(-5px, 15px) rotate(-10deg);
    transform: translate(-5px, 15px) rotate(-10deg); }
    75% {
    -o-transform: translate(-10px, 5px) rotate(-5deg);
    transform: translate(-10px, 5px) rotate(-5deg); }
    100% {
    -o-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
    @keyframes image_move_rotate2 {
    0% {
    -webkit-transform: translate(0px, 0px) rotate(0);
    -moz-transform: translate(0px, 0px) rotate(0);
    -o-transform: translate(0px, 0px) rotate(0);
    transform: translate(0px, 0px) rotate(0); }
    25% {
    -webkit-transform: translate(10px, 10px) rotate(-5deg);
    -moz-transform: translate(10px, 10px) rotate(-5deg);
    -o-transform: translate(10px, 10px) rotate(-5deg);
    transform: translate(10px, 10px) rotate(-5deg); }
    50% {
    -webkit-transform: translate(-5px, 15px) rotate(-10deg);
    -moz-transform: translate(-5px, 15px) rotate(-10deg);
    -o-transform: translate(-5px, 15px) rotate(-10deg);
    transform: translate(-5px, 15px) rotate(-10deg); }
    75% {
    -webkit-transform: translate(-10px, 5px) rotate(-5deg);
    -moz-transform: translate(-10px, 5px) rotate(-5deg);
    -o-transform: translate(-10px, 5px) rotate(-5deg);
    transform: translate(-10px, 5px) rotate(-5deg); }
    100% {
    -webkit-transform: translate(0, 0) rotate(0);
    -moz-transform: translate(0, 0) rotate(0);
    -o-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
    @-webkit-keyframes image_move_rotate3 {
    0% {
    -webkit-transform: translate(0px, 0px) rotate(0);
    transform: translate(0px, 0px) rotate(0); }
    20% {
    -webkit-transform: translate(0px, -10px) rotate(-5deg);
    transform: translate(0px, -10px) rotate(-5deg); }
    40% {
    -webkit-transform: translate(15px, -15px) rotate(0deg);
    transform: translate(15px, -15px) rotate(0deg); }
    60% {
    -webkit-transform: translate(25px, 0px) rotate(7deg);
    transform: translate(25px, 0px) rotate(7deg); }
    80% {
    -webkit-transform: translate(10px, 10px) rotate(-2deg);
    transform: translate(10px, 10px) rotate(-2deg); }
    100% {
    -webkit-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
    @-moz-keyframes image_move_rotate3 {
    0% {
    -moz-transform: translate(0px, 0px) rotate(0);
    transform: translate(0px, 0px) rotate(0); }
    20% {
    -moz-transform: translate(0px, -10px) rotate(-5deg);
    transform: translate(0px, -10px) rotate(-5deg); }
    40% {
    -moz-transform: translate(15px, -15px) rotate(0deg);
    transform: translate(15px, -15px) rotate(0deg); }
    60% {
    -moz-transform: translate(25px, 0px) rotate(7deg);
    transform: translate(25px, 0px) rotate(7deg); }
    80% {
    -moz-transform: translate(10px, 10px) rotate(-2deg);
    transform: translate(10px, 10px) rotate(-2deg); }
    100% {
    -moz-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
    @-o-keyframes image_move_rotate3 {
    0% {
    -o-transform: translate(0px, 0px) rotate(0);
    transform: translate(0px, 0px) rotate(0); }
    20% {
    -o-transform: translate(0px, -10px) rotate(-5deg);
    transform: translate(0px, -10px) rotate(-5deg); }
    40% {
    -o-transform: translate(15px, -15px) rotate(0deg);
    transform: translate(15px, -15px) rotate(0deg); }
    60% {
    -o-transform: translate(25px, 0px) rotate(7deg);
    transform: translate(25px, 0px) rotate(7deg); }
    80% {
    -o-transform: translate(10px, 10px) rotate(-2deg);
    transform: translate(10px, 10px) rotate(-2deg); }
    100% {
    -o-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
    @keyframes image_move_rotate3 {
    0% {
    -webkit-transform: translate(0px, 0px) rotate(0);
    -moz-transform: translate(0px, 0px) rotate(0);
    -o-transform: translate(0px, 0px) rotate(0);
    transform: translate(0px, 0px) rotate(0); }
    20% {
    -webkit-transform: translate(0px, -10px) rotate(-5deg);
    -moz-transform: translate(0px, -10px) rotate(-5deg);
    -o-transform: translate(0px, -10px) rotate(-5deg);
    transform: translate(0px, -10px) rotate(-5deg); }
    40% {
    -webkit-transform: translate(15px, -15px) rotate(0deg);
    -moz-transform: translate(15px, -15px) rotate(0deg);
    -o-transform: translate(15px, -15px) rotate(0deg);
    transform: translate(15px, -15px) rotate(0deg); }
    60% {
    -webkit-transform: translate(25px, 0px) rotate(7deg);
    -moz-transform: translate(25px, 0px) rotate(7deg);
    -o-transform: translate(25px, 0px) rotate(7deg);
    transform: translate(25px, 0px) rotate(7deg); }
    80% {
    -webkit-transform: translate(10px, 10px) rotate(-2deg);
    -moz-transform: translate(10px, 10px) rotate(-2deg);
    -o-transform: translate(10px, 10px) rotate(-2deg);
    transform: translate(10px, 10px) rotate(-2deg); }
    100% {
    -webkit-transform: translate(0, 0) rotate(0);
    -moz-transform: translate(0, 0) rotate(0);
    -o-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
    @-webkit-keyframes image_move_rotate4 {
    0% {
    -webkit-transform: translate(0px, 0px) rotate(0);
    transform: translate(0px, 0px) rotate(0); }
    15% {
    -webkit-transform: translate(-10px, 10px) rotate(5deg);
    transform: translate(-10px, 10px) rotate(5deg); }
    30% {
    -webkit-transform: translate(-25px, 15px) rotate(10deg);
    transform: translate(-25px, 15px) rotate(10deg); }
    45% {
    -webkit-transform: translate(-25px, 25px) rotate(13deg);
    transform: translate(-25px, 25px) rotate(13deg); }
    60% {
    -webkit-transform: translate(-5px, 20px) rotate(16deg);
    transform: translate(-5px, 20px) rotate(16deg); }
    75% {
    -webkit-transform: translate(5px, 5px) rotate(13deg);
    transform: translate(5px, 5px) rotate(13deg); }
    90% {
    -webkit-transform: translate(15px, -10px) rotate(8deg);
    transform: translate(15px, -10px) rotate(8deg); }
    100% {
    -webkit-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
    @-moz-keyframes image_move_rotate4 {
    0% {
    -moz-transform: translate(0px, 0px) rotate(0);
    transform: translate(0px, 0px) rotate(0); }
    15% {
    -moz-transform: translate(-10px, 10px) rotate(5deg);
    transform: translate(-10px, 10px) rotate(5deg); }
    30% {
    -moz-transform: translate(-25px, 15px) rotate(10deg);
    transform: translate(-25px, 15px) rotate(10deg); }
    45% {
    -moz-transform: translate(-25px, 25px) rotate(13deg);
    transform: translate(-25px, 25px) rotate(13deg); }
    60% {
    -moz-transform: translate(-5px, 20px) rotate(16deg);
    transform: translate(-5px, 20px) rotate(16deg); }
    75% {
    -moz-transform: translate(5px, 5px) rotate(13deg);
    transform: translate(5px, 5px) rotate(13deg); }
    90% {
    -moz-transform: translate(15px, -10px) rotate(8deg);
    transform: translate(15px, -10px) rotate(8deg); }
    100% {
    -moz-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
    @-o-keyframes image_move_rotate4 {
    0% {
    -o-transform: translate(0px, 0px) rotate(0);
    transform: translate(0px, 0px) rotate(0); }
    15% {
    -o-transform: translate(-10px, 10px) rotate(5deg);
    transform: translate(-10px, 10px) rotate(5deg); }
    30% {
    -o-transform: translate(-25px, 15px) rotate(10deg);
    transform: translate(-25px, 15px) rotate(10deg); }
    45% {
    -o-transform: translate(-25px, 25px) rotate(13deg);
    transform: translate(-25px, 25px) rotate(13deg); }
    60% {
    -o-transform: translate(-5px, 20px) rotate(16deg);
    transform: translate(-5px, 20px) rotate(16deg); }
    75% {
    -o-transform: translate(5px, 5px) rotate(13deg);
    transform: translate(5px, 5px) rotate(13deg); }
    90% {
    -o-transform: translate(15px, -10px) rotate(8deg);
    transform: translate(15px, -10px) rotate(8deg); }
    100% {
    -o-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }
    @keyframes image_move_rotate4 {
    0% {
    -webkit-transform: translate(0px, 0px) rotate(0);
    -moz-transform: translate(0px, 0px) rotate(0);
    -o-transform: translate(0px, 0px) rotate(0);
    transform: translate(0px, 0px) rotate(0); }
    15% {
    -webkit-transform: translate(-10px, 10px) rotate(5deg);
    -moz-transform: translate(-10px, 10px) rotate(5deg);
    -o-transform: translate(-10px, 10px) rotate(5deg);
    transform: translate(-10px, 10px) rotate(5deg); }
    30% {
    -webkit-transform: translate(-25px, 15px) rotate(10deg);
    -moz-transform: translate(-25px, 15px) rotate(10deg);
    -o-transform: translate(-25px, 15px) rotate(10deg);
    transform: translate(-25px, 15px) rotate(10deg); }
    45% {
    -webkit-transform: translate(-25px, 25px) rotate(13deg);
    -moz-transform: translate(-25px, 25px) rotate(13deg);
    -o-transform: translate(-25px, 25px) rotate(13deg);
    transform: translate(-25px, 25px) rotate(13deg); }
    60% {
    -webkit-transform: translate(-5px, 20px) rotate(16deg);
    -moz-transform: translate(-5px, 20px) rotate(16deg);
    -o-transform: translate(-5px, 20px) rotate(16deg);
    transform: translate(-5px, 20px) rotate(16deg); }
    75% {
    -webkit-transform: translate(5px, 5px) rotate(13deg);
    -moz-transform: translate(5px, 5px) rotate(13deg);
    -o-transform: translate(5px, 5px) rotate(13deg);
    transform: translate(5px, 5px) rotate(13deg); }
    90% {
    -webkit-transform: translate(15px, -10px) rotate(8deg);
    -moz-transform: translate(15px, -10px) rotate(8deg);
    -o-transform: translate(15px, -10px) rotate(8deg);
    transform: translate(15px, -10px) rotate(8deg); }
    100% {
    -webkit-transform: translate(0, 0) rotate(0);
    -moz-transform: translate(0, 0) rotate(0);
    -o-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } } 